*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif
}

html, body{
height: 100%;
width: 100%;
}

h1{
    color: red;
}

button{
    padding: 20px;
    color: white;
    background-color: green;
}